*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    a:focus{
      outline: none;
    }
    address{font-style:normal;}

    body{
        overflow-x: hidden;
        font-family: 'yg-jalnan';
    }

/*header*/
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  
  
  .hd_all {
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin: 0 auto;
      padding: 0 5rem;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(2.5px);
      article{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pc_menu{
          width: 60%;
          .menu_style{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 0 !important;
              li{
                a{
                color: #3D210F;
                font-size: 1.1rem;
                display:inline-block; 
                margin:0;
                text-transform:uppercase;
                &:hover{
                  color: #ffa135;
                }
                &::after{
                  display:block;
                  content: '';
                  transform:translateY(5px)  scaleX(0);  
                  border-bottom: solid 3px #3D210F;  
                  transition: transform .4s ease-in-out;
                }
                &:hover::after{
                  transform:translateY(5px) scaleX(1);
                  
                }
                
                
              }
              @-webkit-keyframes shine{
                  from{
                  -webkit-mask-position: 150%;
                  }
                  to{
                  -webkit-mask-position:-50%;
                  }
              }

              @keyframes shine{
                  from{
                  -webkit-mask-position: 150%;
                  }
                  to{
                  -webkit-mask-position:-50%;
                  }
              }

              }
              .lang{
                div{
                  display: flex;
                  gap: 1rem;
                  a{
                    &:hover{
                      color: #ff6200;
                    }
                  }
                  
                }
              }

              
          }
        }
        hgroup{
          width: 30%;
          text-align: right;
          a{
              width: 100%;
              h1{
                  width: 100%;
                  img{
                      width: 70px;
                      margin-bottom: 5px;
                  }
              }
          }
          }
      }
          
        
          
          /* 반응형 */

          .m_menu_button {
              width: 50px;
              height: 50px;
              position: absolute;
              left: 3rem;
              top: 22px;
              z-index: 10;
              display: none;
              a.menu-trigger, a.menu-trigger span {
                display: inline-block;
                transition: all .4s;
              }
              
              a.menu-trigger {
                position: relative;
                width: 40px;
                height: 40px;
                
                span {
                  position: absolute;
                  left: 7px;
                  width: 100%;
                  height: 5px;
                  background-color:#2b0910;
                  border-radius: 50px;
                  
                  &:nth-child(1) {
                    top: 10px;
                  }
                  
                  &:nth-child(2) {
                    top: 22.5px;
                  }
                  
                  &:nth-child(3) {
                    bottom: 0px;
                  }
                }
              }
              
              .menu-trigger.active-1 {
                span:nth-child(1) {
                  transform: translateY(8.5px) rotate(-45deg);
                }
                
                span:nth-child(2) {
                  opacity: 0;
                }
                
                span:nth-child(3) {
                  transform: translateY(-16.5px) rotate(45deg);
                }
              }
          }

          .m_menu {
              position: absolute;
              left: 0;
              top: 0;
              width: 40%;
              background-color:#fdc401;
              
              display: none;
              text-align: center;
              .menu_style {
                width: 100%;
                padding-top: 6rem;
                height: 100vh;
                margin-bottom: 0 !important;
                li {
                  width: 100%;
                  margin-bottom: 4rem;
                  font-size: 1.5rem;
            
                  &:last-child {
                    margin-bottom: 0 !important;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: #2b0910;
                  }
                  /* .dropdown {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100px;
                    border: 1px solid grey;
                  } */
                  a {
                    font-size: 1.2em;
                    font-weight: 600;
                    color: #2b0910;
                    &:hover{
                      color: #fb9107;
                      text-decoration: underline;
                      text-decoration-thickness: 5px;
                      text-underline-offset : 11px;
                    }
                  }
                }
                .lang{
                  img{
                      width: 25px;
                  }
                }
              }
            }
            
            .scroll_bar {
              background-color: #000;
            }  
    }
}


/* main */

main{

  #home{
    color: #3D210F;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(#f9e8b1, #e7a117);
    .home_bg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      img{
        object-fit: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
        filter: opacity(0.6) ;
      }
    }
    article{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 5rem;
      position: relative;
      .home_txt{
        width: 60%;
        text-align: center;
        h1{}
        h2{
          font-size: 1.2rem;
          line-height: 3;
        }
        .home_btn{
          button{
            border: 2px solid #3D210F;
            padding: 0.7% 3%;
            border-radius: 30px 30px 0 0 ;
            &:focus{
              outline:none;
            }
            div{
              display: flex;
              align-items: center;
              img{
              width: 40px;
              padding-right: 10px;
              }
              p{
                margin-bottom: 0 
              }
            }
          }
          
        }
      }

        .home_logo{
          width: 40%;
          text-align: center;
          .logo_box{
            margin: 0 auto;
            position: relative;
            max-width: 80%;
              .logoimg{
                position: absolute;
                width: 280px;
                transform: translate(2.5rem, 6rem);
              }
              .logoj{
                width: 400px;
              }
          }
        }
    }
    

  }

  #story{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #FFD835;
    .honey_b{
      position: absolute;
      top: -5rem;
      left: 0;
    }
    article{
      width: 100%;
      margin: 0 auto;
      height: 100%;
      padding: 0 15rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #5A3733;
      .story_text{
        width: 45%;
        padding-top: 10rem;
        h1{
          font-size: 4rem;
          padding-bottom: 3rem;
        }
        h3{
          display: flex;
          font-size: 1.2rem;
        }
      }
      .story_c{
        width: 40%;
        ul{
          display: flex;
          li{
            
          }
          .img_float{
            img{
              position: absolute;
            }
            .q1{
              width: 1%;
              top: 26rem;
            }
            .q2{
              width: 7%;
              top: 12rem;
              right: 16rem;
            }
            .q3-1{
              width: 2%;
              top: 8rem;
              left: 18rem;
            }
            .q3-2{
              width: 2%;
              right: 48rem;
            }
            .q4{
              width: 22%;
              top: -5rem;
              left: -7rem;
              transform: rotate(-10deg) scaleX(-1);
              //filter: opacity(0.9);
            }
            .q5{
              width: 14%;
              bottom: 2rem;
              right: 5rem;
              z-index: 1;
            }
          }
          .img_fix{
            img{
              width: 500px;
              position: absolute;
              top: 15rem;
              right: 15rem;
              animation: updown 4s ease-in-out infinite;
            }
            @keyframes updown {
              0%{
                transform: translateY(0);
              }
              50%{
                transform: translateY(-5%);
              }
            }
            span{
              bottom: 9rem;
              right: 3rem;
              position: absolute;
              display: block;
              width: 1000px;
              height: 60px;
              border-radius: 100%;
              background: radial-gradient( ellipse, #F09E1A, #fcbf2400,#ffffff00 );
            }
          }
        }
      }
    }
  }

  #characters{
    background: linear-gradient(#FFD835, #ffd835);
    width: 100vw;
    height: 360vh;
    color: #3D210F;
    position: relative;
    .honey_bg{
      width: 100%;
      position: relative;
      .honey_b_c{
        width: 100%;
        position: absolute;
        left: -5px;
        top: 0;
        z-index: 1;
        img{
          object-fit: cover;
          background-size: cover;
          width: 100%;
        }
      }
      .honey_b_bg{
        width: 100%;
        height: 350vh;
        position: absolute;
        left: 0;
        top: 0;
        img{
          object-fit: cover;
          background-size: cover;
          width: 100%;
          height: 100%;
          filter: opacity(0.5);
        }
      }
    }
    .honey_ch{
      position: relative;
      padding: 0 7rem;
      .c_title{
        text-align: center;
        padding-top: 15rem;
        img{
          width: 40px;
        }
        h1{
          padding: 3rem 0;
        }
        h3{
          
          font-size: 1.1rem;
          line-height: 3;
        }
      }
      .c_detail{
        width: 100%;
        .bee1{
          width: 100%;
          display: flex;
          position: relative;
          padding: 10rem 0 0 25rem;
          .bee1_left{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .beeimg{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 200px;
              height: 180px;
              background: linear-gradient(5deg,#fcbe02, #fba807,#fb9107);
              clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
              img{
                width: 150px;
              }
            }
          }
          .bee1_right{
            display: flex;
            flex-direction: column;
            .beeimg{
              transform: translate(-2rem, 6rem);
              display: flex;
              align-items: center;
              justify-content: center;
              width: 200px;
              height: 180px;
              background: linear-gradient(-25deg,#fcbe02, #fba807,#fb9107);
              clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
              img{
                width: 150px;
              }
            }
            .bee1_text{
              position: relative;
              p{
                font-size: 2rem;
                color: #2b0910;
                transform: translate(2rem, -9rem);
              }
              .ch1{
                width: 150px;
                transform: translate(5rem, -11rem);
              }
              .ch2{
                width: 50px;
                transform: translate(-1rem, -2rem);
              }
            }
          }
          
        }
        .bee2{
          width: 100%;
          display: flex;
          position: relative;
          justify-content: flex-end;
          padding: 0 23rem 0 0;
          .bee2_left{
            display: flex;
            flex-direction: column;
            .beeimg{
              transform: translate(2rem, 6rem);
              display: flex;
              align-items: center;
              justify-content: center;
              width: 200px;
              height: 180px;
              background: linear-gradient(55deg,#fcbe02, #fba807,#fb9107);
              clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
              img{
                width: 150px;
              }
            }
            .bee1_text{
              position: relative;
              p{
                font-size: 2rem;
                color: #2b0910;
                transform: translate(5rem, -9rem);
              }
              .ch1{
                width: 150px;
                transform: translate(16rem, -21rem) rotate(-60deg);
              }
              .ch3{
                width: 50px;
                transform: translate(8rem, -26rem);
              }
            }
          }
          .bee2_right{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .beeimg{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 200px;
              height: 180px;
              background: linear-gradient(-15deg,#fcbe02, #fba807,#fb9107);
              clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
              img{
                width: 150px;
              }
            }
          }
          
          
        }
        .bee3{
          width: 100%;
          display: flex;
          position: relative;
          padding: 0 0 0 30rem;
          .bee3_left{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .beeimg{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 200px;
              height: 180px;
              background: linear-gradient(25deg,#fcbe02, #fba807,#fb9107);
              clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
              img{
                width: 150px;
              }
            }
            .more2{
              transform: translate(-10.6rem, -6.27rem);
            }
          }
          .bee3_right{
            display: flex;
            flex-direction: column;
            .beeimg{
              transform: translate(-2rem, 6rem);
              display: flex;
              align-items: center;
              justify-content: center;
              width: 200px;
              height: 180px;
              background: linear-gradient(-25deg,#fcbe02, #fba807,#fb9107);
              clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
              img{
                width: 150px;
              }
            }
            .bee3_text{
              position: relative;
              p{
                font-size: 2rem;
                color: #2b0910;
                transform: translate(0rem, -8.5rem);
              }
              .ch1{
                width: 150px;
                transform: translate(-12.5rem, -20.5rem) scaleX(-1) rotate(-60deg);
              }
              .ch4{
                width: 15px;
                transform: translate(-24.5rem, -16.5rem);
              }
            }
          }
          
        }
      }
      span{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        border : 0px;
        border-bottom: 5px solid #3D210F ;
        border-style: dashed;
      }
    }
    .honey_hiden{
      width: 100%;
      margin: 0 auto ;
      position: relative;

      .hiden_top{
        text-align: center;
        img{
          padding: 8rem 0 3rem 0  ;
          width: 150px;
        }
      }
      .hiden_bottom{
        padding-top: 5rem;
        width: 100%;
        ul{
          margin: 0 auto;
          width: 60%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          .hi-1{
            display: flex;
            flex-direction: column;
            img{
              width: 150px;
              filter: brightness(10%);
            }
          }
        }
      }
      .hiden_box{
        padding: 7rem 0;
        text-align: center;
        h3{
          font-size: 1.5rem;
          border-radius: 50px;
          margin: 0 auto;
          padding: 0.6% 1%;
          width:40%;
          background: linear-gradient(-2deg ,#fcbe02, #fba807,#fb9107);
        }
      }
      
    }
    .honey_botoom{
      position: absolute;
      bottom: -3rem;
      img{
        transform: scaleY(-1);
      }
    }
  }

  #milestones{
    padding: 10rem 0 17rem 0;
    width: 100%;
    position: relative;
    
    article{
      width: 100%;
      .svg-m{
        img{
          position: absolute;
        }
      }
      .m_title{
        padding-top: 2rem;
        text-align: center;
        h2{
          font-size: 3rem;
          color: #3D210F;
        }
      }
      .m_detail{
        width: 100%;
        ul{
          position: relative;
          .m_hex{
            img{
            }
          }
          .m_text{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .m_top{
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              img{
                width: 70%;
              }
              h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50% );
              }
              p{
                color: #734F38;
              }
            }
            .m_line{
              
            }
            .m_bottom{
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              img{
                width: 170px;
              }
              h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(15%, 235%);
              }
              p{
                color: #734F38;
              }
            }
          }
        }

        .year1{
          position: relative;
          .m_hex{
            .hon1{
              width: 150px;
              transform: translate(-1rem, 20rem);
            }
            .hexagon1{
              width: 200px;
              transform: translate(26rem, 15rem);
            }
            .hexagon2{
              width: 200px;
              transform: translate(6rem, 3rem);
            }
          }
          .m_text{
            position: relative;
            .m_top{

            }
            .m_line{
              position: absolute;
              width: 180px;
              height: 3px;
              left: 59rem;
              top: 4rem;
              border-bottom: 10px solid #fdc401;
              border-radius: 50px;
            }
            .m_bottom{
              p{
                color: #734F38;
                line-height: 2;
              }
            }
          }
        }
        .year2{
          position: relative;
          .m_hex{
            .hon1{
              width: 3%;
              transform: translate(84rem, 10.5rem);
            }
            .hexagon1{
              width: 200px;
              transform: translate(70rem, 34rem);
            }
            .hexagon2{
              width: 200px;
              transform: translate(64.5rem, 22rem);
            }
          }
          .m_text{
            position: relative;
            width: 100%;
            .m_top{
              position: relative;
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: flex-end;
              line-height: 1.5;
              p{
                margin-bottom: 3rem;
                text-align: right;
                color: #734F38;
              }
            }
            .m_line{
              position: absolute;
              width: 180px;
              height: 3px;
              left: 50rem;
              top: -2rem;
              border-bottom: 10px solid #fdc401;
              border-radius: 50px;
            }
            .m_bottom{
              img{
                width: 70%;
              }
              h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50% );
              }
            }
          }
        }
        .year3{
          position: relative;
          .m_hex{
            .hon1{
              width: 50px;
              transform: translate(42rem, 22rem);
            }
            .hexagon1{
              width: 200px;
              transform: translate(23rem, 15rem);
            }
          }
          .m_text{
            position: relative;
            .m_top{

            }
            .m_line{
              position: absolute;
              width: 180px;
              height: 3px;
              left: 59rem;
              top: 5rem;
              border-bottom: 10px solid #fdc401;
              border-radius: 50px;
            }
            .m_bottom{
              p{
                color: #734F38;
                line-height: 2;
              }
            }
          }
        }
      }
      .m_under{
        position: absolute;
        bottom: 0;
        left: -9px;
        img{
          transform: scaleY(-1);
        }
      }
    }
  }

  #contact{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #e7a117;
    
    .contact_bg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      img{
        object-fit: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
        filter: opacity(0.4) ;
      }
    }
    .cont-title{
      padding-top: 10rem;
      position: relative;
      text-align: center;
      h2{
        font-size: 4rem;
        color: #2b0910;
        
      }
    }
    .cont-form{
      padding-top: 5rem;
      position: relative;
      text-align: center;
      img{}
      form{
        border-radius: 15px;
        background: #f9e8b15b;
        width: 60%;
        height: 300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        #email{
          width: 50%;
          padding: 1% 1.35%;
        }
        input{
          display: block;
          margin: 0 auto;
          background-color: #fff;
          border-radius: 5px;
          border: 2px solid #3D210F;
          padding: 0.3% 1.8%;
          &::placeholder{
            color: #2b0910;
          }
        }
        .subm{
          padding: 1% 1.35%;
        }
        
      }
    }
  }
}

/*footer*/
footer {
  background-color: #28160B;
  width: 100%;
  color: #ffffffe0;
  overflow: hidden;
  position: relative;
  
  .footer_wrap {
    width: 100%;
    .footer_bg{
      width: 100%;
      height: 100%;
      background: url(/img/characters_bg_3.png) no-repeat center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      filter: opacity(0.2);
      // max-width: 100%;
      // img{
      //   width: 100%;
      //   background-size: cover;
      //   //height: 30vh;
      // }
    }
    .footer_content {
      padding: 3rem 10rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 10;

      .footer_cont_left {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .f_cont_left_logo {
          width: 30%;
          margin-right: 12%;

          a {
            width: 100%;
            display: inline-block;

            img {
              max-width: 100%;
            }
          }
        }

        .f_cont_left_info {
          width: 100%;
          margin-bottom: 0 !important;

          h5 {
            font-size: 1.3rem;
            margin-bottom: 7%;
          }

          p {
            font-size: 1rem;
            
          }

          span {
            font-weight: 600 !important;
          }
        }
      }

      .footer_cont_right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;

        a {
          display: inline-block;
          background-color: rgb(249 232 177 / 60%);
          width: 45px;
          height: 40px;
          margin-right: 10px;
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          line-height: 40px;
          transition: all 0.5s;
          color: #3D210F;
          text-decoration: none;

          &:last-child {
            margin-right: 0 !important;
          }

          &.terms {
            width: 150px;
            border-radius: 30px;
          }

          &:hover {
            background-color: #fffbd9ef;
            box-shadow: 0 0 9px #5A3733;
            
          }

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
