@import "./mixin";

/*데탑 1440px*/
@include desktop{
    main {
        #home {
            article {
                .home_txt {
                    h2{
                        line-height: 2.3;
                    }
                }
            }
        }
        #story {
            article {
                .story_c {
                    ul {
                        .img_fix {
                            img{
                                width: 400px;
                                top: 18rem;
                                right: 12rem;
                            }
                            span{
                                width: 800px;
                                bottom: 4rem;
                            }
                        }
                    }
                }
            }
        }
        #characters {
            height: 420vh;
            .honey_bg {
                .honey_b_bg{
                    height: 400vh;
                }
            }
            .honey_ch {
                .c_detail {
                    .bee1{
                        padding: 8rem 0 0 15rem;
                    }
                    .bee2{
                        padding: 0 15rem 0 0;
                    }
                    .bee3{
                        padding: 0 0 0 20rem;
                    }
                }
            }
        }
        #milestones {
            article {
                .svg-m{
                    img{
                        max-width: 100%;
                        background-size: cover;
                        object-fit: cover;
                        height: 2000px;
                    }
                }
                .m_detail {
                    .year1 {
                        .m_hex {
                            .hon1{
                                transform: translate(-14rem, 20rem);
                            }
                            .hexagon1{
                                transform: translate(12rem, 15rem);
                            }
                        }
                        .m_text {
                            .m_line{
                                left: 44.5rem;
                            }
                        }
                    }
                    .year2 {
                        .m_text {
                            .m_line{
                                left: 35.5rem;
                            }
                        }
                        .m_hex{
                            .hexagon1{transform: translate(57rem, 34rem);}
                            .hexagon2{transform: translate(51.5rem, 22rem);}
                            .hon1{transform: translate(77rem, 10.5rem);}
                        }
                    }
                    .year3 {
                        .m_hex {
                            .hon1{
                                transform: translate(28rem, 22rem);
                            }
                            .hexagon1{
                                transform: translate(9rem, 15rem);
                            }
                        }
                        .m_text {
                            .m_line{
                                left: 44.5rem;
                            }
                        }
                    }
                }
            }
        }
        #contact {
            .cont-title{
                padding-top: 5rem;
            }
        }
    }
}

/*노트북 1024px*/
@include laptop{
    header {
        .hd_all{
            padding: 0 3.5rem;
            article {
                .pc_menu{
                    width: 100%;
                }
            }
        }
    }
    main {
        #home {
            article {
                .home_txt {
                    h2{
                        font-size: 1.1rem;
                    }
                }
                .home_logo {
                    .logo_box {
                        .logoimg{
                            width: 235px;
                        }
                        .logoj{
                            width: 350px;
                        }
                    }
                }
            }
        }
        #story{
            article{
                padding: 0 5rem;
                .story_text{
                    width: 50%;
                    padding-top: 5rem;
                    h3{
                        font-size: 1.1rem;
                    }
                }
                .story_c {
                    ul {
                        .img_float {
                            .q3-1{
                                top: 6rem;
                                left: 8rem;
                            }
                            .q3-2{
                                right: 28rem;
                            }
                        }
                        .img_fix {
                            img{
                                width: 380px;
                                top: 15rem;
                                right: 2rem;
                            }
                            span{
                                width: 700px;
                                right: -6rem;
                                bottom: 7rem;
                            }
                        }
                    }
                }
            }
        }
        #characters {
            height: 435vh;
            .honey_bg {
                .honey_b_bg{
                    height: 420vh;
                }
            }
            .honey_ch {
                .c_detail {
                    .bee1{
                        padding: 3rem 0 0 0;
                        justify-content: center;
                    }
                    .bee2{
                        padding: 5rem 0 ;
                        justify-content: center;
                    }
                    .bee3{
                        padding: 0 0 0 15rem;
                        justify-content: center;
                    }
                }
            }
            .honey_hiden {
                .hiden_box {
                    h3{
                        width: 60%;
                    }
                }
            }
            .honey_botoom{
                bottom: -4rem;
            }
        }
        #milestones{
            padding: 7rem 0 17rem 0;
            article {
                .svg-m {
                    img{
                        height: 1800px;
                    }
                }
                .m_detail {
                    ul {
                        .m_text {
                            .m_top {
                                align-items: flex-end;
                                img{
                                    width: 55%;
                                }
                                h2{
                                    transform: translate(50%, -50%);
                                }
                            }
                        }
                    }
                    .year1 {
                        .m_text {
                            .m_line{
                                top: 3rem;
                                left: 31.5rem;
                            }
                        }
                        .m_hex {
                            .hexagon1{
                                width: 150px;
                                transform: translate(9rem, 12rem);
                            }
                            .hexagon2{
                                width: 150px;
                                transform: translate(4rem, 2rem);
                            }
                            .hon1{
                                width: 90px;
                                transform: translate(-11rem, 17rem);
                            }
                        }
                    }
                    .year2 {
                        transform: translateY(2rem);
                        .m_text {
                            .m_bottom {
                                align-items: flex-start;
                                img{
                                    width: 55%;
                                }
                                h2{
                                    transform: translate(-150%, -50%);
                                }
                            }
                            .m_line{
                                left: 22.5rem;
                            }
                        }
                        .m_hex {
                            .hexagon1{
                                width: 150px;
                                transform: translate(39rem, 29rem);
                            }
                            .hexagon2{
                                width: 150px;
                                transform: translate(34.5rem, 20rem);
                            }
                            .hon1{
                                width: 40px;
                                transform: translate(52rem, 12rem);
                            }
                        }
                    }
                    .year3 {
                        .m_text {
                            .m_line{
                                top: 3.2rem;
                                left: 32rem;
                            }
                        }
                        .m_hex {
                            .hexagon1{
                                width: 150px;
                                transform: translate(7rem, 12rem);
                            }
                            .hon1{
                                width: 30px;
                                transform: translate(20rem, 17rem);
                            }
                        }
                    }
                }
            }
        }
    }
}

/*패드 991px*/
@include tablet{
    header {
        .hd_all {
            article {
                hgroup{
                    width: 100%;
                    a {
                        h1{
                            margin: 0;
                        }
                    }
                }
            }
            .pc_menu{
                display: none;
            }
            .m_menu_button{
                display: block;
            }
        }
    }
}

/*아이패드 768px*/
@include itablet{
    main {
        #home{
            article{
                flex-direction: column-reverse;
                .home_txt{
                    width: 100%;
                }
                .home_logo {
                    .logo_box {
                        padding-top: 3rem;
                        .logoimg{
                            width: 130px;
                            transform: translate(1.6rem, 3.6rem);
                        }
                        .logoj{
                            width: 200px;
                        }
                    }
                }
            }
        }
        #story {
            .honey_b{
                top: -2rem;
                img{
                    width: 100%;
                }
            }
            article {
                padding: 0px 3rem;
                .story_text {
                    h3{
                        font-size: 1rem;
                    }
                }
                .story_c {
                    ul {
                        .img_float {
                            .q2{
                                top: 17rem;
                            }
                            .q3-2{
                                right: 21rem;
                            }
                            .q4{
                                width: 25%;
                                top: 1rem;
                                left: -4rem;
                            }
                        }
                        .img_fix{
                            img{
                                top: 19rem;
                                right: 1rem;
                                width: 300px;
                            }
                            span{
                                width: 600px;
                                right: -7rem;
                                bottom: 8rem;
                            }
                        }
                    }
                }
            }
        }
        #characters {
            .honey_bg {
                .honey_b_c{
                    left: 0;
                }
            }
            .honey_botoom{
                img{
                    object-fit: cover;
                    background-size: cover;
                    width: 100%;
                }
            }
        }
        #milestones {
            article {
                .svg-m {
                    img{
                        display: none;
                    }
                }
                .m_detail {
                    ul {
                        
                        .m_text{
                            flex-direction: column;
                            gap: 1rem;
                            .m_top{
                                flex-direction: row;
                                h2{
                                    transform: translate(-50%, -50%);
                                }
                            }
                            span{
                                display: none;
                            }
                            .m_bottom{
                                text-align: center;
                            }
                        }
                        
                    }
                    .year1{
                        .m_hex {
                            .hexagon1{
                                transform: translate(8rem, 12rem);
                            }
                            .hexagon2{
                                transform: translate(3rem, 2rem);
                            }
                            .hon1{
                                transform: translate(-12rem, 17rem);
                            }
                        }
                    }
                    .year2 {
                        position: relative;
                        .m_hex {
                            position: absolute;
                            .hexagon1{
                                transform: translate(28rem, 1rem);
                            }
                            .hexagon2{
                                transform: translate(24.5rem, 10rem);
                            }
                            .hon1{
                                transform: translate(8rem, 28rem);
                            }
                        }
                        .m_text{
                            flex-direction: column-reverse;
                            .m_bottom{
                                flex-direction: row;
                                h2{
                                    transform: translate(-50%, -50%);
                                }
                            }
                            .m_top{
                                align-items: center;
                                p{
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .year3{
                        position: relative;
                        .m_hex {
                            position: absolute;
                            .hexagon1{
                                transform: translate(5rem, 1rem);
                            }
                            .hon1{
                                transform: translate(33rem, 5rem);
                            }
                        }
                    }
                }
                .m_under{
                    left: 0;
                    img{
                        object-fit: cover;
                        background-size: cover;
                        width: 100%;
                    }
                }
            }
        }
    }
    footer {
        .footer_wrap {
            .footer_content{
                padding: 2rem;
            }
        }
    }
}

/* 모바일 767px*/
@include mobile{
    main {
        #story{
            article{
                flex-direction: column;
                .story_text{
                    width: 100%;
                    text-align: center;
                }
                .story_c {
                    ul {
                        .img_fix {
                            img{
                                top: 28rem;
                                right: 14.5rem;
                                width: 250px;
                            }
                            span{
                                width: 400px;
                                right: 11rem;
                                bottom: 2rem;
                            }
                        }
                        .img_float {
                            .q1{display: none;}
                            .q2{display: none;}
                            .q3-1{display: none;}
                            .q3-2{display: none;}
                            .q5{display: none;}

                        }
                    }
                }
            }
        }
        #characters {
            .honey_ch{
                padding: 0 3rem;
            }
        }
        #milestones {
            padding: 7rem 0;
            article {
                .m_under{
                    bottom: -3px;
                }
            }
        }
    }
    footer {
        .footer_wrap {
            .footer_content{
                flex-direction: column;
                .footer_cont_right{
                    width: 100%;
                    padding-top: 2rem;
                    justify-content: flex-start;
                }
            }
        }
    }
}

/* 모바일2 576px */
@include mobile2{
    header {
        .hd_all {
            .m_menu{
                width: 100%;
            }
        }
    }
    main {
        #home {
            height: 110vh;
            article {
                .home_logo{
                    width: 55%;
                    .logo_box{
                        padding-top: 0;
                    }
                }
                .home_txt {
                    h2{
                        font-size: 1rem;
                    }
                }
            }
        }
        #story {
            article {
                .story_c {
                    ul {
                        .img_fix {
                            img{
                                top: 30rem;
                                right: 8.5rem;
                            }
                            span{
                                right: 5rem;
                                bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }
        #characters {
            height: 420vh;
            .honey_ch {
                .c_detail {
                    .bee3{
                        padding: 0 0 0 13rem;
                    }
                }
            }
            .honey_hiden {
                .hiden_bottom{
                    ul {
                        .hi-1{
                            img{
                                width: 100px;
                            }
                        }
                    }
                }
                .hiden_box {
                    h3{
                        width: 70%;
                        font-size: 1rem;
                        padding: 2%;
                    }
                }
            }
            .honey_botoom{
                bottom: -3rem;
            }
        }
        #milestones {
            article {
                .m_detail {
                    .year1 {
                        .m_hex {
                            .hexagon1{
                                transform: translate(2rem, 12rem);
                            }
                            .hexagon2{
                                transform: translate(10rem, 2rem);
                            }
                            .hon1{
                                transform: translate(-18rem, 17rem);
                            }
                        }
                    }
                    .year2 {
                        .m_hex {
                            .hexagon1{
                                transform: translate(22rem, 1rem);
                            }
                            .hexagon2{
                                transform: translate(17.5rem, 10rem);
                            }
                            .hon1{
                                transform: translate(5rem, 28rem);
                            }
                        }
                    }
                    .year3 {
                        .m_hex {
                            .hexagon1{
                                transform: translate(0rem, 1rem);
                            }
                            .hon1{
                                transform: translate(26rem, 5rem);
                            }
                        }
                    }
                }
            }
        }
        #contact {
            .cont-form {
                form{
                    width: 85%;
                }
            }
        }
    }
    footer {
        .footer_wrap {
            .footer_content {
                .footer_cont_left {
                    .f_cont_left_logo{
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* 모바일3 갤석시 425px */
@include galaxy{
    main {
        #home{
            article{
                padding: 0 2rem;
                .home_txt{
                    h2{
                        font-size: 0.9rem;
                    }
                }
            }
        }
        #story {
            article {
                .story_c {
                    ul {
                        .img_float {
                            .q4{
                                width: 40%;
                                top: -2rem;
                                left: -4rem;
                            }
                        }
                        .img_fix {
                            img{
                                width: 200px;
                                right: 6rem;
                                top: 33rem;
                            }
                            span{
                                right: 1rem;
                            }
                        }
                    }
                }
            }
        }
        #characters {
            .honey_ch {
                .c_detail {
                    .bee1 {
                        .bee1_left {
                            .beeimg{
                                width: 160px;
                                height: 140px;
                                img{
                                    width: 110px;
                                }
                            }
                        }
                        .bee1_right {
                            .beeimg{
                                width: 160px;
                                height: 140px;
                                transform: translate(-2rem, 4.8rem);
                                img{
                                    width: 110px;
                                }
                            }
                            .bee1_text{
                                p{
                                    font-size: 1.5rem;
                                    transform: translate(1.5rem, -7rem);
                                }
                                .ch1{
                                    width: 120px;
                                    transform: translate(4rem, -9rem);
                                }
                                .ch2{
                                    width: 30px;
                                }
                            }
                        }
                    }
                    .bee2 {
                        .bee2_left {
                            .beeimg{
                                width: 160px;
                                height: 140px;
                                transform: translate(2rem, 5rem);
                                img{
                                    width: 110px;
                                }
                            }
                            .bee1_text{
                                p{
                                    font-size: 1.5rem;
                                    transform: translate(6.5rem, -8rem);
                                }
                                .ch1{
                                    width: 120px;
                                    transform: translate(-1rem, -8rem) scaleX(-1);
                                }
                                .ch3{
                                    transform: translate(8rem, -25rem);
                                }
                            }
                        }
                        .bee2_right {
                            .beeimg{
                                width: 160px;
                                height: 140px;
                                img{
                                    width: 110px;
                                }
                            }
                            
                        }
                    }
                    .bee3 {
                        .bee3_left {
                            .beeimg{
                                width: 160px;
                                height: 140px;
                                img{
                                    width: 110px;
                                }
                            }
                            .more2{
                                transform: translate(-8.6rem, -5rem);
                            }
                        }
                        .bee3_right {
                            .beeimg{
                                width: 160px;
                                height: 140px;
                                img{
                                    width: 110px;
                                }
                            }
                            
                            .bee3_text{
                                p{
                                    font-size: 1.5rem;
                                    transform: translate(-8.5rem, -13rem);
                                }
                                .ch1{
                                    width: 120px;
                                    transform: translate(-10rem, -16rem) scaleX(-1) rotate(-60deg);
                                }
                                .ch4{
                                    transform: translate(-8rem, -14rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 모바일4 아이폰 375px */
@include iphone{}